<head>
  <link rel="stylesheet" type="text/css" href="../../assets/css/paper-kit.css" media="screen" />
  <!--     Fonts and icons     -->
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,300,700' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
</head>
<p>
  feedback works!
</p>
<!-- npm i @types/jquery -->
<!-- npm install canvasjs -->

<div *ngFor="let response of responses;let i = index" id=chartContainer{{i}} style="height: 370px; width: 47.5%; float:left; margin: 20px">
