<ion-header>
  <ion-toolbar>
    <ion-title>Patient Feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let q of feedbackQuestion">

    <ion-card-content>
      {{q.feedbackQuestionID}}. {{q.feedbackQuestion}}.
    </ion-card-content>
    <ion-button #first fill="clear" (click)="option(1,q.feedbackQuestionID); btnActivate(first)" >      
      <ion-icon class='button angry' src="assets/icon/angry.svg"></ion-icon>
      <!-- <i class="far fa-angry" style="font-size: 35px"></i> -->
    </ion-button>
    
    <ion-button fill="clear" (click)="option(2,q.feedbackQuestionID)">
      <ion-icon class='button sad'  src="assets/icon/sadd.svg"></ion-icon>
      <!-- <i class="far fa-frown" style="font-size: 35px"></i> -->
    </ion-button>
    <ion-button fill="clear" (click)="option(3,q.feedbackQuestionID)">
      <ion-icon class='button neutral'  src="assets/icon/sad.svg"></ion-icon>
      <!-- <i class="far fa-meh" style="font-size: 35px"></i> -->
    </ion-button>

    <ion-button fill="clear" (click)="option(4,q.feedbackQuestionID)">
      <ion-icon class='button happy'  src="assets/icon/happy.svg"></ion-icon>
      <!-- <i class="far fa-smile" style="font-size: 35px"></i> -->
    </ion-button>
    
    <ion-button fill="clear" (click)="option(5,q.feedbackQuestionID)">
      <ion-icon class='button in-love'  src="assets/icon/in-love.svg"></ion-icon>
      <!-- <i class="far fa-smile-beam" style="font-size: 35px"></i> -->
    </ion-button>

  </ion-card>

  <div style="position: relative; text-align: center;">
    <ion-button (click)="submit()" color="success" expand="block">Submit</ion-button>
  </div>  

</ion-content>
