<div class="card" *ngFor="let user of users">
  <div class="card-header">
    {{user.firstname}} {{user.lastname}}
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{$user.username}" aria-expanded="false" aria-controls="{$user.username}">
      More Detail
    </button>
  </div>

  <div class="collapse" id="{$user.username}">
    <div class="card-body">
      <form>
          <table class="table">
            <thead class="thead-dark">
            <tr>
              <th>{{user.username}}</th>
              <th></th>
            </tr>
            </thead>
              <tr>
              <td>First Name</td>
              <td>{{user.firstname}}</td>
            </tr>
    
            <tr>
              <td>Last Name</td>
              <td>{{user.lastname}}</td>
            </tr>
    
            <tr>
              <td>Email</td>
              <td>{{user.email}}</td>
            </tr>  
    
            <tr>
              <td>Phone</td>
              <td>{{user.phone}}</td>
            </tr>  
                
          </table>
        </form>
  </div>
    
  </div>
</div>
