<div class="container mt-3">
  <div class="card">
    <h1 card="card-header">
      View Patient
    </h1>
    
    <div class="card-body">
      <form>
        <div class="form-group">
          <label>NHS Number: </label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>Surname: </label>
          <input type="text" class="form-control">
        </div>
        <div>
          <button routerLink="/home" class="btn btn-primary">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>