h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.big-banner {
    background: url("../../assets/img/background.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: auto;
    height: 900px;
  }