<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-img src="/assets/profile_pic.png" ></ion-img>

    <ion-list>
        <ion-item>
          <ion-label position="floating">NHS number: {{userData.NHSno}}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label position="floating">First Name: {{userData.firstname}}</ion-label>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating">Last Name: {{userData.lastname}}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email: {{userData.email}}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Mobile Number: {{userData.phone}}</ion-label>
        </ion-item>

    </ion-list>
  </ion-card>
</ion-content>
