<h1>User Management/ Add User</h1>

<form>
<div class="card">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Mange</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <td><button class="btn btn-success">User</button></td>
      <td><button class="btn btn-primary">Add User</button></td>
      <td><button class="btn btn-danger">View Users</button></td>
  
    </table>
</div>
</form>


<form>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Add</th>
        <th></th>
      </tr>
    </thead>
      <tr>
      <td>Staff ID</td>
      <td>34567890</td>
    </tr>
    <tr>
        <td>Surname</td>
        <td>Karev</td>
    </tr>
    <tr>
        <td>First Name</td>
        <td>Jo</td>
    </tr>  

  </table>
</form>