
<h1 style="text-align: center;">Manage Users</h1>


<div class="container mt-3" style="border: 2px cornflowerblue solid ; border-radius: 25px; padding-bottom: 4em">
  <mat-tab-group mat-align-tabs="center">
    
    <mat-tab label="Add User">
      <ng-template matTabContent>
        <app-add-user></app-add-user>
      </ng-template>
    </mat-tab>

    <mat-tab label="View Users">
      <ng-template matTabContent>
        <app-view-user></app-view-user>
      </ng-template>
    </mat-tab>

    <mat-tab label="Remove User">
      <ng-template matTabContent>
        <app-remove-user></app-remove-user>
      </ng-template>
    </mat-tab>
    
  </mat-tab-group>
</div>