<ion-header>
  <ion-toolbar>
    <ion-title>Survey</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let q of all_question; let i = index">
    <ion-card-header>
      <ion-card-title style="font-size: 15px">
        ({{i + 1}}) {{q.question}}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div *ngIf="q.type === 'yes/no'">
        <ion-button color="success" style="padding-right: 2em" (click)="yes(i)" >Yes</ion-button>
        <ion-button color="danger" (click)="no(i)">No</ion-button>
      </div>
      
      <ion-item *ngIf="q.type === 'free text'">
        <ion-label position="floating">Write here ...</ion-label>
        <ion-textarea [(ngModel)] = "q.answers"></ion-textarea>
      </ion-item>
    </ion-card-content>

  </ion-card>

  <div style="position: relative; text-align: center;">
    <ion-button (click)="submit()" color="tertiary" expand="block">Submit</ion-button> 
  </div>

</ion-content>
