<ion-header>
  <ion-toolbar>
    <ion-title>Assessment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let q of all_question; let i = index">
    <ion-card-content>
      {{i + 1}}. {{q.question}}
    </ion-card-content>

    <ion-card-content>
      <div *ngIf="q.type === 'yes/no'" style="text-align: center">
        <ion-button color="primary" style="padding-right: 2em" (click)="yes(i)" >Yes</ion-button>
        <ion-button color="danger" (click)="no(i)">No</ion-button>
      </div>
      
      <ion-item *ngIf="q.type === 'free text'" style="margin: 5px">
        <ion-label position="floating" style="color: #66615b; font-size: 13px">Write here ...</ion-label>
        <ion-textarea [(ngModel)] = "q.answers"></ion-textarea>
      </ion-item>
    </ion-card-content>

  </ion-card>

  <div style="position: relative; text-align: center;">
    <ion-button (click)="submit()" color="success" expand="block">Submit</ion-button> 
  </div>

</ion-content>
