nav {
    background: red;
    justify-self: right;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            float: left;
            
            a {
                padding: 1.2em;
                font-size: 20px;
                
            }
            &:hover {
                background: rgb(43, 153, 255);
            }
        }
        
    }
}
