
<h1>Question</h1>

<div class="container add-question">
  <div class="card" style="margin-top: 1.5em">
    <div class="card-body">
      <h5>New Question</h5>
      <input type="text" value="" placeholder="New Question..." class="form-control" [(ngModel)]="new_question"
      (keyup.enter)="addQuestion()"/>
      <div style="padding-top: 10px">
        <button class="btn btn-primary btn-fill"  (click)="addQuestion()" >Add Question</button>
      </div>
    </div>
  </div>
</div >


<div class="container">
  <div class="card">
    <div class="card-body">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Number</th>
            <th>Question</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tr *ngFor="let q of q_obj">
          <td>{{q.questionID}}</td>
          <td>{{q.question}}</td>
          <td>
            <button class="btn btn-danger" (click)="delete(q)">Delete</button>
          </td>
          <td>
            <button class="btn btn-info" (click)="edit()">Edit</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>